{% load i18n %}
<div class="specifications-widget" id="specifications-widget-{{ widget.name }}">
    <input type="hidden" name="{{ widget.name }}" value="{{ widget.value|default:'{}' }}" id="id_{{ widget.name }}">
    
    <div class="table-responsive">
        <table class="table table-sm table-bordered mt-2" id="spec-table-{{ widget.name }}">
            <thead class="bg-light">
                <tr>
                    <th class="small fw-bold opacity-75">{% trans 'Key (for example, "Weight")' %}</th>
                    <th class="small fw-bold opacity-75">{% trans 'Value (for example, "3.5kg")' %}</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                {% for key, val in specs.items %}
                <tr class="spec-row">
                    <td><input type="text" class="form-control form-control-sm spec-key" value="{{ key }}"></td>
                    <td><input type="text" class="form-control form-control-sm spec-value" value="{{ val }}"></td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-danger remove-spec-row">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-sm btn-outline-dark mt-2" id="add-spec-row-{{ widget.name }}">
        <i class="bi bi-plus-lg me-1"></i> {% trans "Add Specification" %}
    </button>
</div>
